<!DOCTYPE html>
<html>
<head>
    <!--网页编码-->
    <meta charset="utf-8">
    <!--响应式网页实现-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网络数据采集</title>
    <link rel="stylesheet" href="~/Content/css/backstage.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
</head>
<body style="background-color: #EFEFEF !important" class="hidden">
    <div id="header">
        <div>
            <img src="~/Content/img/logo.png" id="logo" alt="爬虫">
        </div>
        <div id="title">
            <ul>
                <li><a href="/BackStage/UserMan" style="border-bottom: 3px solid rgb(255, 255, 0)">后台管理</a></li>

            </ul>
        </div>
        <!--用户名展示-->
        <p id="user-show">
            欢迎，
            <a id="user-id"></a>
        </p>
        <!--登出按钮-->
        <div id="logout">
            <a href="/LoginReg/Login">退出登录</a>
        </div>
    </div>
    <main class="main-container">
        <!-- 左侧栏 -->
        <div class="main-left">
            <ul>
                <li><a href="/BackStage/VideoMan" class="sidebar-link">视频管理</a></li>
                <li><a href="/BackStage/UserMan" class="sidebar-link" style="background-color: rgb(178, 178, 179);">用户管理</a></li>
                <li><a href="/BackStage/CommentMan" class="sidebar-link">评论管理</a></li>
                <li><a href="/BackStage/AdvertiserMan" class="sidebar-link">广告管理</a></li>
                <li><a href="/BackStage/OrderMan" class="sidebar-link">账单管理</a></li>
                <li><a href="/FrontStage/Index" class="sidebar-link">返回首页</a></li>
            </ul>
        </div>
        <!-- 右侧栏 -->
        <div class="main-right">
            <!-- 搜索栏 -->
            <div class="backsearch">
                <form action="/Search/SearchUser" method="get">
                    <div class="backsearch-bar">
                        <!--使用value来存储搜索成功的值-->
                        <input type="text" name="searchTerm" placeholder="用户名称丨关键字" value="@ViewBag.SearchTerm" >
                        <button type="submit">查询</button>
                        <button type="button" id="addButtonUser">添加</button>
                    </div>
                </form>
            </div>
            <!--添加用户-->
            <div class="list">
                <form method="post" id="addUser" onsubmit="return checkFormAddUser()" action="/Add/AddUser"  enctype = "multipart/form-data">
                    <table class="table form-group">
                        <tr>
                            <th>选择</th>
                            <th>ID</th>
                            <th>账号</th>
                            <th>密码</th>
                            <th>昵称</th>
                            <th>注册时间</th>
                            <th>头像</th>
                            <th>管理员标识</th>
                            <th>其他</th>
                        </tr>
                        <tr>
                            <td>
                                <!-- type="submit"提交信息 -->
                                <button type="submit" class="btn save-btn">添加</button>
                                <button type="button" class="btn cancel-btn" onclick="return clearFormAddUser()">清空</button>
                            </td>
                            <td><label for="id"><input type="text" id="id" name="id" placeholder="请输入ID"></label></td>
                            <td><label for="inUser"><input type="text" id="inUser" name="inUser" placeholder="请输入账号"></label></td>
                            <td><label for="inPwd"><input type="text" id="inPwd" name="inPwd" placeholder="请输入密码"></label></td>
                            <td><label for="inNickname"><input type="text" id="inNickname" name="inNickname" placeholder="请输入昵称"></label></td>
                            <td><label for="regTime"><input type="datetime-local" id="regTime" name="regTime"></label></td>
                            <td><label for="inIcon"><input type="file" id="inIcon" name="inIcon" accept="image/*" ></label></td>
                            <td>
                                <label for="ifAdmin" class="ifAdmin">
                                    <input type="radio" id="ifAdmin1" name="ifAdmin" value="1"> 是
                                </label>
                                <label for="ifAdmin" class="ifAdmin">
                                    <input type="radio" id="ifAdmin0" name="ifAdmin" value="0"> 否
                                </label>
                            </td>
                            <td><a href="/BackStage/UserMan">返回</a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </main>
    <!--JS脚本-->
    <script>
        //在 Razor 视图中传递 TempData 的值给 backstage.js
        var TempDataNotice = '@TempData["notice"]';
        var ViewBagNotice = '@ViewBag.notice';
    </script>
    <!--js脚本引用-->
    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!--包含‘TempData提示’、‘ViewBag提示’、‘清空表单’、‘检查空信息’、‘用户名记录’、‘登出按钮’、‘删除用户’-->
    <script src="~/Content/js/backstage.js"></script>
    <script src="~/Content/js/userman.js"></script>
    <!--页脚-->
    <footer id="footer">
        <div class="footer-info">
            <p>&copy; 2023 12580资源网 </p>
            <p>联系方式: 2434260208@qq.com</p>
        </div>
    </footer>
</body>
</html>