a {
    cursor: pointer; /* 手型图标 */
    text-decoration: none; /* 去除默认下划线 */
}
/* 定位登录框 */
.position {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* 登录框身体部分 */
.advertiser-body {
    width: 430px;
    margin: 20vh auto ;
}
/* 登录框内容 */
.advertiser-main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 430px;
    height: 544px;
    text-align: center; /* 居中 */
}
/* 登录头区域 */
.advertiser-header {
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}
/* 关闭图片 */
.close-img {
    width: 20px;
    position: relative;
    left: 200px;
    top: 30px;
    cursor: pointer;
}
/* 切换登录方式 */
.login-mode {
    margin: 20px;
    display: flex;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
/* 切换时，注释内容呈现，其他内容注释 */
.mode-phone {
    /* color: #999;  */
    color: #333;
    border-bottom: 2px solid #333;
}

.mode-username {
    color: #999;
    /* color: #333;
    border-bottom: 2px solid #333; */
}

.mode-phone, .mode-username {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    margin-right: 30px;
}


/* 信息输入框 */
.advertiser-input {
    text-align: left;
    display: flex;
}

    .advertiser-input input {
        text-align: left !important;
        color: #333;
        font-size: 16px;
        padding: 10px;
        margin: 10px 20px 0px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.input-content {
    width: 100%;
    max-width: 65%;
    min-width: 65%;
    display: block;
    max-height: 160px;
    min-height: 40px;
}

.advertiser-input-group {
    text-align: left;
}

.input-pair {
    display: flex;
    margin-bottom: 10px; 
    margin-top: 20px;
}
.input-date {
    width: 100%;
    max-width: 61%;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* 提交按钮 */
.advertiser-submit {
    display: flex; /* 应用Flexbox布局 */
}
.advertiser-submit a {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    max-width: 100px;
    margin: 30px auto;
}

.advertiser-submit a:hover {
    background-color: #0056b3;
}

.bg {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}
